<% @posts.each do |post| %>
  <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
        <ul class="details">
          <li class="date"> <%= post.created_at %> </li>
        </ul>
      </div>
      <div class="description">
        <h1><%= post.title %></h1>
        <h2>Submitted <%= time_ago_in_words(post.created_at) %> ago</h2>
        <p> <%= post.body %> </p>
        <p class="read-more">
          <%= link_to 'Read More', post %>
        </p>
      </div>
    </div>
<% end %>
